# SPDX-License-Identifier: MIT-0
# En este fichero declaro el recurso de Kubernetes para crear un secreto con las credenciales de acceso al ACR,
# que luego será utilizado por los Deployments del frontend y backend para poder extraer las imágenes desde el ACR privado.
---
# Secreto para acceso al ACR
apiVersion: v1
kind: Secret
metadata:
  name: acr-secret
  namespace: "{{ app_namespace }}"
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ acr_url }}": {
          "username": "{{ acr_user }}",
          "password": "{{ acr_password }}"
        }
      }
    }

