# SPDX-License-Identifier: MIT-0
# En este fichero declaro los recursos de Kubernetes para desplegar
# el backend de la aplicación en el clúster AKS, incluyendo el Deployment y el Service interno.
---
# Deployment del backend (Redis)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ app.backend.name }}"
  namespace: "{{ app_namespace }}"
spec:
  replicas: {{ app.backend.replicas }}
  selector:
    matchLabels:
      app: "{{ app.backend.name }}"
  template:
    metadata:
      labels:
        app: "{{ app.backend.name }}"
    spec:
      # Para que el contenedor de Redis pueda escribir en el volumen persistente
      # es necesario configurar el securityContext del Pod con un fsGroup que tenga permisos de escritura en el volumen.
      securityContext:
        fsGroup: 1001
      nodeSelector:
        kubernetes.io/os: "{{ app.frontend.nodeselector_kubernetes_os }}"     
      containers:
        - name: "{{ app.backend.name }}"
          image: "{{ app.backend.image }}"
          # Limito los recursos de backend para evitar sobrecargas
          resources:
            requests:
              cpu: "{{ app.backend.requests.cpu }}"
              memory: "{{ app.backend.requests.memory }}"
            limits:
              cpu: "{{ app.backend.limits.cpu }}"
              memory: "{{ app.backend.limits.memory }}"
          env:
            - name: "{{ app.backend.env_name }}"
              value: "{{ app.backend.env_value }}"
          ports:
            - containerPort: {{ app.backend.port }}
              name: {{ app.backend.port_name }}
          volumeMounts:
            - name: "{{ app.backend.pv }}"
              mountPath: {{ app.backend.volumepath }}
      volumes:
        - name: "{{ app.backend.pv }}"
          persistentVolumeClaim:
            claimName: "{{ app.backend.pvc }}"
---
# Service interno del backend
apiVersion: v1
kind: Service
metadata:
  name: "{{ app.backend.name }}"
  namespace: "{{ app_namespace }}"
spec:
  ports:
    - port: {{ app.backend.port }}
  selector:
    app: "{{ app.backend.name }}"