# SPDX-License-Identifier: MIT-0
# En este fichero declaro los recursos de Kubernetes para desplegar
# el frontend de la aplicación en el clúster AKS, 
# incluyendo el Deployment y el Service de tipo LoadBalancer.

---
# Deployment del frontend (azure-vote-front)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ app.frontend.name }}"
  namespace: "{{ app_namespace }}"
spec:
  replicas: {{ app.frontend.replicas }}
  selector:
    matchLabels:
      app: "{{ app.frontend.name }}"
  template:
    metadata:
      labels:
        app: "{{ app.frontend.name }}"
    spec:
      nodeSelector:
        kubernetes.io/os: "{{ app.frontend.nodeselector_kubernetes_os }}"
      containers:
        - name: "{{ app.frontend.name }}"
          image: "{{ app.frontend.image }}"
          resources:
            requests:
              cpu: "{{ app.frontend.requests.cpu }}"
              memory: "{{ app.frontend.requests.memory }}"
            limits:
              cpu: "{{ app.frontend.limits.cpu }}"
              memory: "{{ app.frontend.limits.memory }}"
          ports:
            - containerPort: {{ app.frontend.port }}
          env:
            - name: "{{ app.frontend.env_name }}"
              value: "{{ app.frontend.env_value }}"
---
# Service LoadBalancer del frontend
apiVersion: v1
kind: Service
metadata:
  name: "{{ app.frontend.name }}"
  namespace: "{{ app_namespace }}"
spec:
  type: "{{ app.frontend.service_type }}"
  ports:
    - port: {{ app.frontend.external_port }}
      targetPort: {{ app.frontend.port }}
  selector:
    app: "{{ app.frontend.name }}"